*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
build/generated/mockable-android-25.jar
build/intermediates/dex-cache/cache.xml
local.properties